@page
@model LockoutModel
@{
    ViewData["Title"] = "Khóa tài khoản";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản của bạn đã bị khóa do đăng nhập sai quá 5 lần. Vui lòng thử lại sau</p>
</header>
